<%= form_for @contact_phone, method: :post, remote: true, html: { onsubmit: raw("javascript:pleaseWait('#add_contact_phone_submit');deleteFormErrors('#new_contact_phone');") } do |ff| %>
  <%= hidden_field_tag 'contact_phone[user_id]', @current_user.id %>
  <%= ff.label :phone, 'Telefon:', id: 'contact_phone_phone' %>
  <%= ff.text_field :phone %>
  &nbsp;<%= ff.select :phone_type, options_for_select(@phone_types), {}, class: 'w100' %>
  &nbsp;<%= ff.select :phone_usage, options_for_select(@phone_usages), {}, class: 'w100' %>
  <br>
  <%= ff.label :note, 'Poznámka:' %>
  <%= ff.text_area :note, class: 'w595 h100' %>
  <br>
  <%= ff.check_box :primary_phone %>&nbsp;<%= ff.label :primary_phone, 'Primární telefon' %>
  <%= ff.submit 'Uložit', class: 'f-right', id: 'add_contact_phone_submit' %>
  <div class="cleaner"></div>
<% end %>
