<% if @contact_phone.errors.any? %>
  <% if @contact_phone.errors[:phone].any? %>
			$('#contact_phone_phone').before(
        '<p class="error"><%= escape_javascript(raw @contact_phone.errors[:phone][0]) %></p>'
      );
	<% end %>
<% else %>
  $('#add_contact_phones').prepend(
      '<p class="success"><%= escape_javascript('Telefon uložen') %></p>'
    ).delay(1000).fadeIn(1, function() {
       $('#add_contact_phones p.success').fadeOut(500, function() {
         $('#add_contact_phones').css('display', 'none');
         $("#modal_overlay").css("display", "none");
       });
     });
  $('#add_contact_phones_select_box').prepend('<option value="<%= escape_javascript(raw @contact_phone.id) %>"><%= escape_javascript(raw @contact_phone.phone) %></option>')
  $('#add_contact_phones form')[0].reset();
  $('#user_log').prepend('<option><%= escape_javascript(raw @current_user.logs.all.last.to_s) %></option>');
  $('#add_contac_phones').click(function(event) {
    $('body').one('click',function() {
      $('#add_contact_phones form')[0].reset();
    });
  });
<% end %>
$('#add_contact_phone_submit').html('<input class="normal-button" type="submit" value="Uložit">');

