<% flash.each do |key, value| -%>
  <div id='flash_<%= key %>'>
  <% if value.is_a? Array %>
    <% value.each do |val| %>
      <p><%= val %></p>
    <% end %>
  <% else %>
    <p><%=h value %></p>
  <% end %>
  </div>
<% end %>
