  <nav>
    <ul class="menu_side">
      <li><a class="active_link">Obecné</a>
        <ul>
          <li><a href="">Nastavení vzhledu</a></li>
          <li><a href="<%= edit_user_path @current_user %>">Nastavení uživatele</a>
            <ul>
              <li><a href="<%= forward_roles_path %>">Předat práva kolegovi</a></li>
              <li><a href="<%= change_password_path %>">Změnit heslo</a></li>
            </ul></li>
        </ul></li>
      <li><a class="active_link">Karty</a>
        <ul>
          <li><a href="">Poptávky</a></li>
          <li><a href="">Klienti</a></li>
        </ul></li>
      <li><a href="">Exporty</a></li>
      <li><a href="">Zabezpečení</a></li>
      <li><a href="">Spolupráce</a></li>
      <li><a class="active_link">Skupiny</a>
        <ul>
          <li><a href="<%= groups_path %>">Správa skupin</a></li>
          <li><a href="<%= new_group_path %>">Nová skupina</a></li>
        </ul></li>
      <% if @current_user.company.present? and can? :manage, @current_user.company %>
        <li><a href="<%= company_structure_url %>">Nastavení společnosti</a></li>
      <% end %>
    </ul>
  </nav>
