/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/**{margin:0;padding:0;}*/
body {width:1200px;margin: 10px;font:.85em sans-serif;color:black;background:white;}
header {border-bottom:1px solid #CCC;padding-bottom:10px;margin-bottom:10px;}
header h1 {float:left;margin:10px 0;}
header form, ul#menu_user {float:right;margin-top:20px;}
ul#menu_user {margin:24px 5px 0 5px;}
header ul li {display:inline;}
ul#menu_main, ul#menu_sub {padding-left:0;margin-bottom:10px;}
ul#menu_sub {font-size:.85em;margin-bottom:10px;}
footer {margin-top:10px;border-top:1px solid #CCC;padding-top:10px;}
div#content {font-size:.85em;}
div#left {width:170px;float:left;border-right:1px solid #CCC;}
div#right {width:1020px;float:left;min-height:400px;}
table {border-collapse:collapse;}
table td {border:1px solid #CCC;padding:5px 10px;}
table th {padding:5px;text-align:center;}
.field_with_errors {display:inline;}
.field_with_errors label, .formError {color:red;display:inline;}
.field_with_errors input {border:1px solid red;}


div#left nav ul {list-style:none;padding-left:15px;}
ul.menu_side {padding-left:0;}
ul.menu_side a:visited {color:blue;}

fieldset {margin-bottom:15px;}
input[type=text],select {width:200px;}
div.chk {width:100px;float:left;text-align:right;}

ul#company_process {font-size:1.25em;margin-left:0;padding-left:0;}
ul#company_process li {display:block;margin:0 10px;border:1px solid #CCC;padding:5px 10px;text-align:center;float:left;}
ul#company_process li.active {background:#CCC;font-weight:bold;}

ul#company_structure_tree {margin:0;padding:0;background:#EEE;overflow:hidden}
ul#company_structure_tree li {display:block;margin-left:0;width:150px;}
ul#company_structure_tree li li {margin:10px 0 0 30px;}
ul#company_structure_tree li div {border:1px solid #999;width:150px;background:#FFF;}
ul#company_structure_tree h3 {font-size:1em;border-bottom:1px solid #999;margin:0px 0;padding: 5px;}
ul#company_structure_tree a {display:block;padding:0 0 5px 5px;}
ul#company_structure_tree p {margin:0;padding:5px;}


#modal_overlay{display: none;position:fixed;top:0;right:0;bottom:0;left:0;height:100%;width:100%;margin:0;padding:0;background:#fff;opacity:.75;filter: alpha(opacity=75);-moz-opacity: 0.75;z-index:101;}
.modal_window{display:none;position:fixed;top:50%;left:50%;margin:0;padding:15px;z-index:102;width: 640px;height:320px;margin:-320px 0 0 -320px;background:#FFF;border:1px solid #CCC;}
.close_window{position:absolute;width:32px;height:32px;right:8px;top:-40px;background:transparent url('/img/btn/close-button.png') no-repeat scroll right top;text-indent:-99999px;overflow:hidden;cursor:pointer;}
.modal_window textarea{width: 240px; height: 150px;}
.modal_window form {border: 0 !important;}
.modal_window.large {width:800px;height:600px;margin-left:-400px;}

#user_profile {padding:10px;border:1px solid #CCC;width:635px;}

.group {border:1px solid #CCC;margin-top:10px;}
.group header {background: #EDEDED;padding: 5px;}
.group header p {margin:0 10px 0 0;padding: 0 10px 0 0;width:150px;border-right:1px solid #CCC;}
.group p {margin:0}
.group h3 {margin:0;}
.group .body {margin: 0 5px 5px 5px;}
.group .main_admin {width:200px;border-right:0;}
.form-link {display:block;float:right;margin:6px 10px 0 10px;}
#remove_member {display:block;float:right;margin:-3px 18px 3px 0;font-weight:bold;text-decoration:none;}
#add_admin, #remove_admin {display:block;text-decoration:none;font-weight:bold;}
#remove_admin {margin-top:35px;}

.fieldWithErrors {display:inline;}
.active_link {color:blue;text-decoration:underline;cursor:pointer;}
.border {border:1px solid #CCC;}
.cleaner {clear:both;}
.f-left {float:left;}
.f-right {float:right;}
.t-center {text-align:center;}
.t-right {text-align:right;}
.h100 {height:75px;}
.h200 {height:200px;}
.mb-18 {margin-bottom:-18px;}
.ml15 {margin-left:15px;}
.ml30 {margin-left:30px;}
.ml45 {margin-left:45px;}
.ml50 {margin-left:50px;}
.ml60 {margin-left:60px;}
.ml90 {margin-left:90px;}
.ml120 {margin-left:120px;}
.mr5 {margin-right:5px;}
.mr15 {margin-right:15px;}
.mt0 {margin-top:0;}
.mt5 {margin-top:5;}
.mt10 {margin-top:10px;}
.mt30 {margin-top:30px;}
.w50 {width:50px;}
.w75 {width:75px;}
.w100 {width:100px;}
.w125 {width:125px;}
.w150 {width:150px;}
.w200 {width:200px;}
.w215 {width:215px;}
.w250 {width:250px;}
.w270 {width:270px;}
.w290 {width:290px;}
.w295 {width:295px;}
.w300 {width:300px;}
.w350 {width:350px;}
.w400 {width:400px;}
.w450 {width:450px;}
.w475 {width:475px;}
.w490 {width:490px;}
.w500 {width:500px;}
.w510 {width:510px;}
.w595 {width:595px;}
.w600 {width:600px;}
.w755 {width:755px;}
.red {background:red;}
.green {background:green;}
.blue {background:blue;}

.vlevo15 {border: 1px solid #CCC;}
