<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Backoffice</h1>
	  <h2>Vítejte, uživateli</h2>
    <p>Dobrý den,<br />
		děkujeme Vám za registraci. Nyní <%= link_to 'aktivujte svůj účet', activate_user_url(@user.activation_code) %>.</p>

    <p>S přáním pěkného dne</p>
	  <p>Backoffice Core</p>
  </body>
</html>
