<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Backoffice</h1>
    <p>Dobrý den,<br />
		Váš nadřízený Vás registroval v Backoffice.<br>
		Vaše dočasné heslo pro první přihlášení: <%= @password %><br><br>
		Nyní <%= link_to 'aktivujte svůj účet', activate_user_url(@user.activation_code) %>, poté si nastavíte nové heslo.</p>

    <p>S přáním pěkného dne</p>
	  <p>Backoffice Core</p>
  </body>
</html>
