<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Backoffice</h1>
	  <h2>Uživatelský účet smazán</h2>
    <p>Dobrý den,<br />
		Váš uživatelský účet byl zrušen. Pokud budete chtít v budoucnu Backoffice používat, musíte se opět registrovat.</p>

    <p>S přáním pěkného dne</p>
	  <p>Backoffice Core</p>
  </body>
</html>
