<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Backoffice</h1>
	  <h2>Vítejte, uživateli</h2>
    <p>Váš účet v Backoffice je nyní aktivní a po <%= link_to 'přihlášení', sign_in_url %> můžete využít naše služby.</p>
    <br>
    <p>S přáním pěkného dne</p>
	  <p>Backoffice Core</p>
  </body>
</html>
