      <%= form.submit 'Uložit', class: 'f-right' %>
      <%= link_to 'Smazat skupinu', group_path(@group), { method: :delete, confirm: "Opravdu chcete smazat tuto skupinu?", class: "form-link" } if controller.action_name == "edit" and can? :destroy, @group %>
      <%= hidden_field_tag 'group[main_admin_user_id]', @current_user.id.to_s if controller.action_name == "new" or controller.action_name == "create" %>
      <div class="cleaner"></div>
      
      <% if @group.errors.any? %>
        <p>Opravte chybné zadání.</p>
      <% end %>
      <div class="w215 f-left">
        <%= form.label :title, 'Název nové skupiny:' %><br>
        <% if @group.errors[:title].any? %>
          <%= error_message_on @group, :title %>
        <% end %>
        <%= form.text_field :title %><br><br>
        
        <%= form.label :description, 'Popis skupiny:' %><br>
        <%= form.text_area :description, class: 'w200 h100' %><br><br>
        
        <%= label_tag 'companies', 'Přidat uživatele do skupiny manuálně:' %><br>
        <%= select_tag 'companies', options_for_select(@companies_for_select) %><br>
        
        <%= select_tag 'users_for_membership', options_for_select(@users_for_membership) %><br>
        <a id="add_to_group" class="active_link">Přidat</a><br><br>
        
        <%= label_tag 'members', 'Vybraní uživatelé:' %>
        <% if can? :remove_members, @group %>
          <a id="remove_member" class="active_link">x</a>
        <% end %>
        <br>
        <%= select_tag 'members', options_for_select(@members), { multiple: true, size: 10, id: 'members' } %>
      </div>
      <div class="w215 f-left ml15">
        <% if controller.action_name == 'new' or controller.action_name == 'create' or  @group.is_main_admin? @current_user %>
          <%= label_tag 'Přidat správce do skupiny' %>:<br>
          <%= label_tag 'Vybraní uživatelé' %><br>
          <%= select_tag 'users_for_admin', options_for_select(@users_for_admin), multiple: true, size: 8, class: 'f-left w75' %>
          <p class="f-left w50 t-center">
            <a id="remove_admin" class="active_link">&laquo;</a><br>
            <a id="add_admin" class="active_link">&raquo;</a>
          </p>
          <%= select_tag 'admins', options_for_select(@admins), { multiple: true, size: 8, id: 'admins', class: 'f-left w75' } %>
          <div class="cleaner"></div>
          <hr>
          <%= form.label :admin_add_user, 'Správci skupiny jsou oprávněni k' %>:<br>
          <%= form.check_box :admin_add_user %>
          <%= form.label :admin_add_user, 'Přidat uživatele skupiny' %><br>
          <%= form.check_box :admin_remove_user %>
          <%= form.label :admin_remove_user, 'Odebrat uživatele ze skupiny' %><br>
          <%= form.check_box :admin_destroy_group %>
          <%= form.label :admin_destroy_group, 'Smazat skupinu' %>
        <% end %>
      </div>
      <div class="w400 f-left red"></div>

