<h1>Skupiny</h1>
<%= render partial: '/backoffice_core/flash_messages' %>
  
<div id="left">
  <%= render partial: '/backoffice_core/menu_settings' %>
</div>
<div id="right">
  <div class="ml15">
    <h2>Nastavení skupiny</h2>
    <%= form_for @group do |form| %>
      <%= render partial: '/backoffice_core/groups/form', object: form %>
    <% end %>
  </div>
</div>
<div class="cleaner"></div>
