<h1>Skupiny</h1>
<%= render partial: '/backoffice_core/flash_messages' %>
  
<div id="left">
  <%= render partial: '/backoffice_core/menu_settings' %>
</div>
<div id="right">
  <div class="ml15">
    <h2>Správa skupin</h2>
    <% @groups.each do |g| %>
      <div class="group">
        <header>
          <p class="f-left"><strong>
            <%if can? :edit, g %>
              <%= link_to g.title, edit_group_path(g.id) %>
            <% else %>
              <%= g.title %>
            <% end %>
            </strong></p>
          <p class="f-left"><strong><%= g.members.count %> uživatelů</strong></p>
          <p class="f-left">založeno: <%= g.created_at.strftime("%-d. %-m. %Y") %></p>
          <p class="f-left"><%= 'automatická skupina' if g.automatic? %></p>
          <p class="f-left"><strong>X</strong> použitých pravidel</p>
          <p class="f-left main_admin">Hl.správce: <strong><%= g.main_admin ? g.main_admin.whole_name : "žádný" %></strong></p>
          
          <div class="cleaner"></div>
        </header>
        <div class="body">
          <p class="w250 f-left"><%= g.description %></p>
          <div class="w250 f-left">
            <h3>Uživatelé</h3>
            <p>Současný počet uživatelů:&nbsp;<%= g.members.count %></p>
            <p>Průměrný počet uživatelů: jak implementovat?</p>
            <p>Nejnovější uživatel: <%= g.last_member.present? ? g.last_member.whole_name : "žádný" %></p>
            <p>Správců skupiny: <%= g.admins.count %></p>
          </div>
          <div class="cleaner"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="cleaner"></div>
