<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BackofficeCore</title>
  <%= stylesheet_link_tag    "backoffice_core/application", :media => "all" %>
  <%= javascript_include_tag "backoffice_core/application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
</head>
<body>
  <div id="modal_overlay"></div>
  <% if @user_editation %>
    <%= render partial: '/backoffice_core/users/add_contact_phones' %>
    <%= render partial: '/backoffice_core/users/add_contact_emails' %>
  <% elsif controller.controller_name == 'companies' %>
    <%= render partial: '/backoffice_core/companies/company_calculations' %>
  <% end %>

  <header>
    <h1>Actireal</h1>
    <% if session[:user_id] %>
    <form>
      <input type="text" name="page_search">
      <input type="submit" value="Hledat">
    </form>
    <ul id="menu_user">
      <li>Tisk</li>
      <li>Export</li>
      <li>Odeslat</li>
      <li>Help</li>
      <li>
        <% if @current_user.license.license_type == 'demo' %>
          <%= @current_user.license.title %>&nbsp;(<%= @current_user.email %>)
        <% else %>
          <%= @current_user.whole_name %>
        <% end %>
        <%= link_to 'Odhlásit', sign_out_url, method: :delete %></li>
    </ul>
    <% end %>
    <div class="cleaner"></div>
    <% if session[:user_id] %>
    <nav>
      <ul id="menu_main">
        <li><a href="<%= settings_path %>">Administrace</a></li>
        <li>Nemovitosti</li>
        <li>Klienti</li>
        <li>Komunikace</li>
        <li>Nástroje</li>
        <li>Instituce</li>
        <li>Dokumentace</li>
        <li>Správa nemovitostí</li>
      </ul>
      <ul id="menu_sub">
        <li>Diář</li>
        <li>Schůzky</li>
        <li>Úkoly</li>
        <li>Moje výsledky</li>
        <li>Obchodní případy</li>
        <li>Statistiky</li>
        <li>Motivace</li>
        <li><a href="<%= settings_path %>">Nastavení</a></li>
      </ul>
    </nav>
    <% end %>
  </header>
  
  <div id="content">
    <%= yield %>
  </div>

  <footer>
    2013 &copy; Backoffice Core
  </footer>
</body>
</html>
