<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Backoffice</h1>
	  <h2>Nastavit nové heslo</h2>
    <p>Dobrý den,<br />
		patrně jste zapomněli své heslo pro přístup k účtu Backoffice Core.
		Nové heslo si můžete nastavit pomocí tohoto odkazu:<br>
		<a href="<%= @url %>"><%= @url %></a></p>
    <p>Pokud jste o nové heslo nežádali, e-mailu si nevšímejte, Vaše současné heslo nezmění.</p>

    <p>S přáním pěkného dne</p>
	  <p>Backoffice Core</p>
  </body>
</html>
