<div id="user_profile">
  <div class="w300 f-left">
    <h3><%= raw @user.degree_before + '&nbsp;' if @user.show_degree_before.present? %>
        <%= @user.whole_name %>
        <%= raw '&nbsp;' + @user.degree_after if @user.show_degree_after %></h3>
    <% if @user.show_evidence_number %><p><%= @user.evidence_number %></p><% end %>
    <p><%= @user.employee_post.title + ' ' if @user.employee_post.present? %><%= @user.company.title if @user.company.present? %></p>
    <p><%= @user.primary_contact_phone %></p>
    <p><%= @user.email %></p>
    <hr>
    <p><strong>V systému od:</strong>&nbsp;<%= @user.created_at.strftime("%d. %-m. %Y") %></p>
    <hr>
    <% if @user.company.present? %>
      <% if @user.show_company %><p><strong>Společnost:</strong>&nbsp;<%= @user.company.title %></p><% end %>
      <% if @user.show_branch_office %><p><strong>Pobočka:</strong>&nbsp;<%= @user.company.branch_office_title %></p><% end %>
      <% if @user.show_address and (@user.company.street or @user.company.city) %>
        <p class="f-left"><strong>Adresa:</strong>&nbsp;</p>
        <div class="f-left">
          <% if @user.company.street %>
            <%= @user.company.street %> 
              <%= @user.company.orientation_number + ' /' if @user.company.orientation_number.present? %>
              <%= @user.company.house_number if @user.company.house_number.present? %><br>
          <% end %>
          <%= raw @user.company.city + '<br>' if @user.company.city.present? %>
          <%= @user.company.postal_code if @user.company.postal_code.present? %>
        </div>
        <div class="cleaner"></div>
      <% end %>
      <p><strong>E-mail:</strong> <%= @user.company.email %></p>
      <p><strong>Tel.:</strong> <%= @user.company.phone %></p>
    <% end %>
  </div>

  <div class="f-left w300 mt30 ml15">
    <% if @user.show_motto and @user.motto.present? %>
      <p><strong>Motto</strong><br>
      <%= @user.motto %></p>
    <% end %>
    <% if @user.show_description and  @user.description.present? %>
      <p><strong>Popis</strong><br>
      <%= @user.description %></p>
    <% end %>
  </div>
  <div class="cleaner"></div>
</div>
