<h1>Změna hesla</h1>
<%= render partial: '/backoffice_core/flash_messages' %>

<%= form_for @current_user, url: change_password_path, method: :put do |f| %>
  <%= f.label :password, 'Heslo' %>:
  <%= f.password_field :password, id: 'user_password' %><br><br>
  
  <%= f.label :password_confirmation, 'Heslo znovu' %>:
  <%= f.password_field :password_confirmation, id: 'user_password_confirmation' %><br><br>
  
  <%= f.submit 'Uložit nové heslo' %>  
<% end %>
