<h1>Profil uživatele</h1>
<%= render partial: '/backoffice_core/flash_messages' %>

<%= form_for @user, method: :put do |f| %>
  <% if @user.errors.any? %>
    <p class="error">Chyba při uložení uživatele.</p>
  <% end %>
  
  <%= f.submit 'Uložit', class: 'f-right' %>
  <br><br>
  <div class="cleaner"></div>
  
  <div class="f-left w290 mr5">
    <fieldset>
      <legend>Uživatel</legend>      
      <%= f.label :evidence_number, 'Ev. číslo:' %>
      <% if @user.errors[:evidence_number].any? %>
        <p><%= error_message_on @user, :evidence_number %></p>
        <%= f.text_field :evidence_number, class: 'error' %>
      <% else %>
        <%= f.text_field :evidence_number %>
      <% end %>
      <br>
      <!-- EMPLOYEE POSTS ONLY FOR COMPANY USER -->
      <% if @user.user_registration.id == 2 %>
        <%= f.label :employee_post_id, 'Zařazení:' %>
        <%= f.select(:employee_post_id, options_for_select(@employee_posts, @user.employee_post_id), blank: true) %>
        <br>
      <% end %>
      <%= f.label :degree_before, 'Titul před:' %>
      <%= f.text_field :degree_before %>
      <br>
      <%= f.label :name, 'Jméno:' %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :surname, 'Příjmení:' %>
      <%= f.text_field :surname %>
      <br>
      <%= f.label :degree_after, 'Titul za:' %>
      <%= f.text_field :degree_after %>
    </fieldset>
    
    <fieldset>
      <legend>Adresa</legend>      
      <%= f.label :city, 'Město:' %>
      <%= f.text_field :city, class: 'city_completion' %>
      <br>
      <%= f.label :street, 'Ulice:' %>
      <%= f.text_field :street %>
      <br>
      <%= f.label :house_number, 'č.p.:' %>
      <%= f.text_field :house_number, class: 'w50' %>
      
      <%= f.label :orientation_number, 'č.o.:' %>
      <%= f.text_field :orientation_number, class: 'w50' %>
      <br>
      <%= f.label :postal_code, 'PSČ:' %>
      <%= f.text_field :postal_code %>
      <br>
      <%= f.label :country_id, 'Země:' %>
      <%= f.select(:country_id, options_for_select(@countries, @user.country_id)) %>
      <br>
      <%= f.label :nationality_id, 'Národnost:' %>
      <%= f.select(:nationality_id, options_for_select(@nationalities, @user.nationality_id)) %>
      <br>
      <%= f.label :language_id, 'Jazyky:' %>
      <%= f.collection_select 'language_ids', @languages, :id, :title, { include_blank: false }, { multiple: true, size: 3, name: 'user[language_ids][]' } %>
    </fieldset>
    
    <fieldset>
      <legend>Data</legend>
      <%= f.label :birth_date, 'Datum narození:' %>
      <%= f.text_field :birth_date, class: 'w150 datepicker' %>
      <br>
      <%= f.label :ico, 'IČO:' %>
      <%= f.text_field :ico %>
      <br>
      <%= f.label :dic, 'DIČ:' %>
      <%= f.text_field :dic %>
    </fieldset>
  </div>
  <div class="f-left w290 mr5">
    <fieldset>
      <legend>Kontakty</legend>
      <%= f.label :contact_phones, 'Telefony:', class: 'f-left' %>
      <a onclick="openMyModal('#add_contact_phones'); return false;" class="active_link f-right">Přidat</a>
      <div class="cleaner"></div>
      <%= select_tag "", options_for_select(@contact_phones), multiple: true, size: 3, class: 'w270', id: 'add_contact_phones_select_box' %>
      <br><br>
      <%= f.label :contact_phones, 'Emaily:', class: 'f-left' %>
      <a onclick="openMyModal('#add_contact_emails'); return false;" class="active_link f-right">Přidat</a>
      <div class="cleaner"></div>
      <%= select_tag "", options_for_select(@contact_emails), multiple: true, size: 3, class: 'w270', id: 'add_contact_emails_select_box' %>
      <br><br>
      <%= f.label :www, 'WWW:' %>
      <%= f.text_field :www %>
      <br>
      <%= f.label :skype, 'Skype:' %>
      <%= f.text_field :skype %>
      <br>
      <%= f.label :icq, 'ICQ:' %>
      <%= f.text_field :icq %>
      <br>
      <%= f.label :twitter, 'Twitter:' %>
      <%= f.text_field :twitter %>
      <br>
      <%= f.label :fb, 'Facebook:' %>
      <%= f.text_field :fb %>
      <br>      
    </fieldset>
    
    <fieldset>
      <legend>Kontakty</legend>
      <%= f.label :has_wife, 'Manželka:' %>&nbsp;<%= f.check_box :has_wife %><br>
      <%= f.label :has_partner, 'Partnerka:' %>&nbsp;<%= f.check_box :has_partner %><br>
      <%= f.label :has_children, 'Děti:' %>&nbsp;<%= f.check_box :has_children %>&nbsp;
      <%= f.label :children_count, 'Kolik:' %>&nbsp;<%= f.text_field :children_count, class: 'w50' %><br>
      <%= f.label :has_pet, 'Zvíře:' %>&nbsp;<%= f.check_box :has_pet %>&nbsp;
      <%= f.label :pet_race, 'Jaké:' %>&nbsp;<%= f.text_field :pet_race, class: 'w50' %>
    </fieldset>
  </div>
  <div class="f-left w595 mr5">
    <%= f.label :motto, 'Motto:' %><br>
    <%= f.text_area :motto, class: 'w595 h100' %>
    <br><br>
    <%= f.label :description, 'Popis:' %>
    <%= f.text_area :description, class: 'w595 h200' %>
    <br><br>
    <%= f.label :logs, 'Události uživatele:' %>
    <%= select_tag "user_log", options_for_select(@logs), multiple: true, size: 12, class: 'w595'%>
  </div>
  <div class="cleaner"></div>
  <div class="w300">
    <h3>Zobrazit v profilu</h3>
    <div class="chk"><%= f.label :show_degree_before, 'Titul před' %>&nbsp;<%= f.check_box :show_degree_before %></div>
    <div class="chk"><%= f.label :show_degree_after, 'Titul za' %>&nbsp;<%= f.check_box :show_degree_after %></div>
    <div class="chk"><%= f.label :show_evidence_number, 'Ev. číslo' %>&nbsp;<%= f.check_box :show_evidence_number %></div>
    <div class="chk"><%= f.label :show_company, 'Společnost' %>&nbsp;<%= f.check_box :show_company %></div>
    <div class="chk"><%= f.label :show_branch_office, 'Pobočka' %>&nbsp;<%= f.check_box :show_branch_office %></div>
    <div class="chk"><%= f.label :show_address, 'Adresa' %>&nbsp;<%= f.check_box :show_address %></div>
    <div class="chk"><%= f.label :show_motto, 'Motto' %>&nbsp;<%= f.check_box :show_motto %></div>
    <div class="chk"><%= f.label :show_description, 'Popis' %>&nbsp;<%= f.check_box :show_description %></div>
    <div class="cleaner"></div>
  </div>
  <br>
<% end %>

<%= render partial: '/backoffice_core/users/show_user' %>
