<h1>Nastavení</h1>
<%= render partial: '/backoffice_core/flash_messages' %>

<div id="left">
  <%= render partial: '/backoffice_core/menu_settings' %>
</div>
<div id="right">
  <div class="ml15">
  <h3>Předat práva kolegovi</h3>

  <%= form_tag forward_roles_path, method: :put do -%>
    <%= label_tag 'selected_user_id', 'Vyberte kolegu:' %>
    <%= select_tag 'selected_user_id', options_for_select(@users) %>
    <%= submit_tag 'Předat' %>
  <% end -%>
</div>
<div class="cleaner"></div>
