<h2>Registrace nového uživatele</h2>
  <% if @user.errors.any? %>
    <p class="error">Chyba při registraci.</p>
  <% end %>

<%= form_for @user, url: users_url, method: :post do |form| %>
  <%= form.label :email, 'Email:' %>
  <% if @user.errors[:email].any? %>
    <%= error_message_on @user, :email %>
  <% end %>
  <%= form.text_field :email, type: 'email', id: 'user_email' %>
  <br><br>
  
  <%= form.label :password, 'Heslo:' %>
  <% if @user.errors[:password].any? %>
    <%= error_message_on @user, :password %>
  <% end %>
  <%= form.password_field :password, id: 'user_password' %>
  <br><br>
  
  <%= form.label :password_confirmation, 'Heslo znovu:' %>
  <% if @user.errors[:password_confirmation].any? %>
    <%= error_message_on @user, :password_confirmation %>
  <% end %>
  <%= form.password_field :password_confirmation, id: 'user_password_confirmation' %>
  <br><br>
  
  <%= form.label :user_registration_id, 'Typ registrace:' %>
  <% if @user.errors[:user_registration_id].any? %>
    <%= error_message_on @user, :user_registration_id %>
  <% end %>
  <% @user_registrations.each_with_index do |ur, i| %>
    <% if i > 0 %>
      <%= form.radio_button :user_registration_id, ur[0], checked: true %>
    <% else %>
      <%= form.radio_button :user_registration_id, ur[0]  %>
    <% end %>
    <%= form.label "user_registration_id_#{ur[0]}", ur[1] %>
  <% end %>
  <br><br>
  <%= form.submit 'Zaregistrovat' %>
<% end %>
