<h2>Přihlášení</h2>

<% flash.each do |key, value| -%>
  <div id='flash_<%= key %>'><p><%=h value %></p></div>
<% end %>

<%= form_for @user, url: sign_in_url do |form| %>
  <%= form.label :email, 'Email:', for: 'sign_in_email' %>
  <%= form.text_field :email, type: 'email', id: 'sign_in_email' %>
  <br><br>

  <%= form.label :password, 'Heslo:', for: 'sign_in_pswd' %>
  <%= form.password_field :password, id: 'sign_in_pswd' %>
  <br><br>
  
  <%= form.submit 'Přihlásit se' %>
<% end %>
  
<ul>
  <li><%= link_to 'Registrace', new_user_path %></li>
  <li><%= link_to 'Zapomenuté heslo', request_password_path %></a></li>
</ul>
