<h1>Nastavení</h1>
<%= render partial: '/backoffice_core/flash_messages' %>
  
<div id="left">
  <%= render partial: '/backoffice_core/menu_settings' %>
</div>
<div id="right">
  <div class="f-left ml15 w400">
    <p>Vyberte v levém menu:<p>
    <ul>
      <li>Obecné - Nastavení uživatele</li>
      <li>Skupiny (je třeba ještě dodělat)</li>
      <li>Nastavení společnosti</li>
    </ul>
  </div>

  <div class="f-left w500">
    <h3>Testovací výstupy</h3>
    <% if @current_user.company.present? %><p>Počet zakladatelů této společnosti: <%= @current_user.company.count_company_founders %> <% unless @current_user.company.is_top_parent? %>(mateřská společnost: <%= @current_user.company.top_parent_company.count_company_founders %>)<% end %></p><% end %>

    <h4>Vaše práva v systému</h4>
    <ul>
    <% @roles.each do |r| %>
      <li><%= r.name %>: <strong><%= (@current_user.role? r.role_type) ? 'ano' : 'ne' %></strong></li>
    <% end %>
    </ul>
    <p>Další práva je třeba definovat</p>

    <h4>Všichni registrovaní uživatelé</h4>
    <ul>
    <% @users.each do |u| %>
      <li><%= u.email %> <% if can? :destroy, u %><a href="<%= user_path(u.id) %>" data-method="delete">smazat</a><% end %></li>
    <% end %>
    </ul>
    <br>
    <%= select_tag 'users', options_for_select(@companies_for_select), id: "select_user" %>
  </div>
</div>
<div class="cleaner"></div>
