<% if children_company_input.present? %>
  <div class="ml30 input<%= children_company_input.id.to_s %>">
    <% if @error_fields.include? children_company_input.id.to_s %>
      <div class="field_with_errors">
    <% end %>
    <%= label_tag 'companies_' + children_company_input.id.to_s + '_title', 'Zadejte název pobočky:' %>
    <% if @error_fields.include? children_company_input.id.to_s %>
      </div>
      <div class="formError">nesmí být prázdný</div>
      <div class="field_with_errors">
    <% end %>    
    <%= text_field_tag 'companies[' + children_company_input.id.to_s + '][title]', children_company_input.title, onkeyup: 'javascript:forwardTitleToTreeNode(' + children_company_input.id.to_s + ');' %>
    <% if @error_fields.include? children_company_input.id.to_s %>
      </div>
    <% end %>
    <%= link_to 'Smazat', company_path(children_company_input), method: :delete, remote: true %>
    <%= hidden_field_tag 'companies[' + children_company_input.id.to_s + '][id]', children_company_input.id.to_s %>
    <% if children_company_input.children_companies.any? %>
      <%= render partial: '/backoffice_core/companies/children_company_input', collection: children_company_input.children_companies %>
    <% end %>
  </div>
<% end %>

