<% if children_company_tree.present? %>
    <li class="company_block" id="node<%= children_company_tree.id %>">
      <div>
        <h3><%= children_company_tree.title || "Zadejte název" %></h3>
        <p>Počet poboček: <span class="subcompanies_count"><%= children_company_tree.children_companies.count %></span> 
                          (<span class="all_subcompanies_count"><%= children_company_tree.count_all_subcompanies %></span>)</p>
        <%= link_to 'Přidat pobočku', 
                    { controller: 'companies', 
                      action: 'create', 
                      parent_company_id: children_company_tree.id, 
                      remote: true }, 
                    { class: 'create_company_link' } %>

      </div>
      <% if children_company_tree.children_companies.any? %>
        <ul>
          <%= render partial: '/backoffice_core/companies/children_company_tree', collection: children_company_tree.children_companies %>
        </ul>
      <% end %>
    </li>
<% end %>

