<% if company_users_tree.present? %>
    <li class="company_block" id="node<%= company_users_tree.id %>">
      <div>
        <h3><%= company_users_tree.title %></h3>
        <p>Uživatelů: <span class="subcompanies_count"><%= company_users_tree.users.count %></p>
        <p>Licencí: <span class="subcompanies_count"><%= company_users_tree.count_paid_users_licenses %></p>
      </div>
      <% if company_users_tree.children_companies.any? %>
        <ul>
          <%= render partial: '/backoffice_core/companies/company_users_tree', collection: company_users_tree.children_companies %>
        </ul>
      <% end %>
    </li>
<% end %>

