<div id="company_calculations" class="modal_window large">
  <h2>Ceník a Vaše kalkulace</h2>
  <div class="w400 f-left">
    <h3 class="mb-18">Vaše kalkulace:</h3>
    <table class="w400">
      <tr>
        <th></th>
        <% @paid_licenses.each do |l| %>
          <% if l.price > 0 %>
            <th><%= l.title %></th>
          <% end %>
        <% end %>
        <th class="t-center">Cena</th>
      </tr>
      <% @company.top_parent_company.tree.one_level_array.each do |company| %>
        <tr>
          <td><%= company.title %></td>
          <% @paid_licenses.each do |l| %>
            <% if l.price > 0 %>
              <td><%= company.count_company_licenses(l) %></td>
            <% end %>
          <% end %>
          <td><%= company.bill_for_all_company_licenses %></td>
        </tr>
      <% end %>
    </table>
    <p class="t-right">Celkem: <%= @company.bill_for_whole_company_licenses %> Kč</p>
    <div class="cleaner"></div>
    <%= image_tag "backoffice_core/01.png", width: "100px" %>
    <p>Výše uvedená "cena celkem" je měsíční platba, ve které je zahrnuto
    užívání programu zadanými uživateli, datové servery na nichž jsou 
    informace uloženy, možnost exportovat na všechny podporováné servery, 
    využívat inzerci na síti portálù "ActiReal" v tuzemsku i zahraničí 
    zcela neomezeně a zdarma.</p>
  </div>
  
  <div class="w200 f-left ml30">
    <h3>Ceník</h3>
  </div>
</div>
