  <ul id="company_process">
    <li<%= raw " class='active'" if controller.action_name == "company_structure" or controller.action_name == 'company_structure_update' %>>Struktura společnosti</li>
    <li<%= raw " class='active'" if controller.action_name == "company_details" or controller.action_name == 'company_details_update' %>>Popis společnosti</li> 
    <li<%= raw " class='active'" if controller.action_name == "company_employee_posts" or controller.action_name == 'company_employee_posts_update' %>>Funkce</li> 
    <li<%= raw " class='active'" if controller.action_name == "company_users" or controller.action_name == 'company_users_update' %>>Uživatelé</li> 
    <li<%= raw " class='active'" if controller.action_name == "company_finish" %>>Dokončit</li>
  </ul>
  <div class="cleaner"></div>
  <br>
