<h2 class="f-left">Nastavení společnosti</h2>

<a onclick="openMyModal('#company_calculations'); return false;" class="active_link f-right">Ceník a kalkulace</a>
<div class="cleaner"></div>
<%= render partial: '/backoffice_core/flash_messages' %>

<div id="left">
  <%= render partial: '/backoffice_core/menu_settings' %>
</div>
<div id="right">
  <%= render partial: '/backoffice_core/companies/company_process_navigation' %>

