  <p class="ml15"><%= k %></p>
  <% if @company_hash[k] %>
    <%= render partial: '/backoffice_core/companies/info', collection: @company_hash[k].keys, as: 'k', object: @company_hash[k] %>
  <% end %>



