<%= render partial: '/backoffice_core/companies/company_process_header' %>

  <% if @company.errors.any? %>
    <p class="error">Chyba při uložení detailů společnosti.</p>
  <% end %>

  <%= form_tag company_details_path, method: :get do -%>
    <%= label_tag 'select_company_id', 'Popis společnosti' %>
    <%= select_tag 'select_company_id', options_for_select(@companies_for_select, @company.id), onchange: 'this.form.submit();' %>
    <br><br>
  <% end -%>
  <br>
  <br>
    
  <%= form_for @company, url: company_details_url, method: :put do |f| %>
    <%= link_to 'zpět na Strukturu společnosti', company_structure_url, class: 'f-left ml15' %>
    <%= f.submit 'Pokračovat', class: 'f-right' %>
    <%= hidden_field_tag 'selected_company_id', @company.id %>
    <div class="cleaner"></div>
    <br><br>

    <div class="w510 f-left ml15 mr15">
      <fieldset>
        <%= f.label :title, 'Název společnosti:' %>
        <%= f.text_field :title %>
        &nbsp;<%= check_box_tag 'recursive[title]' %>
        &nbsp;<%= label_tag 'recursive[title]', 'propasat do všech' %>
        <br>
        <%= f.label :ico, 'IČ:' %>
        <%= f.text_field :ico %>
        &nbsp;<%= check_box_tag 'recursive[ico]' %>
        &nbsp;<%= label_tag 'recursivep[ico]', 'propasat do všech' %>
        <br>
        <%= f.label :dic, 'DIČ:' %>
        <%= f.text_field :dic %>
        &nbsp;<%= check_box_tag 'recursive[dic]' %>
        &nbsp;<%= label_tag 'recursive[dic]', 'propasat do všech' %>
        <br>
        <%= f.label :street, 'Ulice:' %>
        <%= f.text_field :street %>
        &nbsp;<%= check_box_tag 'recursive[street]' %>
        &nbsp;<%= label_tag 'recursive[street]', 'propasat do všech' %>
        <br>
        <%= f.label :house_number, 'č.p.:' %>
        <%= f.text_field :house_number, class: 'w50' %>
        &nbsp;<%= check_box_tag 'recursive[house_number]' %>
        &nbsp;<%= label_tag 'recursive[house_number]', 'propasat do všech' %>
        <br>
        <%= f.label :orientation_number, 'č.o.:' %>
        <%= f.text_field :orientation_number, class: 'w50' %>
        &nbsp;<%= check_box_tag 'recursive[orientation_number]' %>
        &nbsp;<%= label_tag 'recursive[orientation_number]', 'propasat do všech' %>
        <br>
        <%= f.label :city, 'Město:' %>
        <%= f.text_field :city, class: 'city_completion' %>
        &nbsp;<%= check_box_tag 'recursive[city]' %>
        &nbsp;<%= label_tag 'recursive[city]', 'propasat do všech' %>
        <br>
        <%= f.label :postal_code, 'PSČ:' %>
        <%= f.text_field :postal_code, class: 'w100' %>
        &nbsp;<%= check_box_tag 'recursive[postal_code]' %>
        &nbsp;<%= label_tag 'recursive[postal_code]', 'propasat do všech' %>
        <br>
        <%= f.label :country_id, 'Země:' %>
        <%= f.select(:country_id, options_for_select(@countries, @company.country_id)) %>
        &nbsp;<%= check_box_tag 'recursive[country_id]' %>
        &nbsp;<%= label_tag 'recursive[country_id]', 'propasat do všech' %>
        <br>
      </fieldset>
      <br>
      <fieldset>
        <%= f.label :phone, 'Telefon:' %>
        <%= f.text_field :phone %>
        &nbsp;<%= check_box_tag 'recursive[phone]' %>
        &nbsp;<%= label_tag 'recursive[phone]', 'propasat do všech' %>
        <br>
        <%= f.label :cell_phone, 'Mobil:' %>
        <%= f.text_field :cell_phone %>
        &nbsp;<%= check_box_tag 'recursive[cell_phone]' %>
        &nbsp;<%= label_tag 'recursive[cell_phone]', 'propasat do všech' %>
        <br>
        <%= f.label :fax, 'Fax:' %>
        <%= f.text_field :fax %>
        &nbsp;<%= check_box_tag 'recursive[fax]' %>
        &nbsp;<%= label_tag 'recursive[fax]', 'propasat do všech' %>
        <br>
        <%= f.label :email, 'E-mail:' %>
        <%= f.text_field :email %>
        &nbsp;<%= check_box_tag 'recursive[email]' %>
        &nbsp;<%= label_tag 'recursive[email]', 'propasat do všech' %>
        <br>
        <%= f.label :www, 'WWW:' %>
        <%= f.text_field :www %>
        &nbsp;<%= check_box_tag 'recursive[www]' %>
        &nbsp;<%= label_tag 'recursive[www]', 'propasat do všech' %>
        <br>
        <%= f.label :fb, 'Facebook:' %>
        <%= f.text_field :fb %>
        &nbsp;<%= check_box_tag 'recursive[fb]' %>
        &nbsp;<%= label_tag 'recursive[fb]', 'propasat do všech' %>
        <br>
        <%= f.label :icq, 'ICQ:' %>
        <%= f.text_field :icq %>
        &nbsp;<%= check_box_tag 'recursive[icq]' %>
        &nbsp;<%= label_tag 'recursive[icq]', 'propasat do všech' %>
        <br>
        <%= f.label :skype, 'Skype:' %>
        <%= f.text_field :skype %>
        &nbsp;<%= check_box_tag 'recursive[skype]' %>
        &nbsp;<%= label_tag 'recursive[skype]', 'propasat do všech' %>
        <br>
        <% @company.company_details.each do |detail| %>
          <%= label_tag 'company_details[' + detail.id.to_s + ']', detail.company_detail_type.title + ':' %>
          <%= text_field_tag 'company_details[' + detail.id.to_s + ']', detail.detail_value %>
          <%= check_box_tag 'recursive_details[' + detail.id.to_s + ']' %>
          <%= label_tag 'recursive_details_' + detail.id.to_s, 'propsat do všech' %>
          <br>
        <% end %>
        <a href="javascript:add_company_detail(1);" class="t-right acd">přidat detail</a>  
      </fieldset>
      <br>
      <fieldset>
        <%= f.label :description, 'Popis společnosti:' %>
        <%= f.text_area :description, rows: 5, cols: 30 %>
        &nbsp;<%= check_box_tag 'description_recursive' %>
        &nbsp;<%= label_tag 'description_recursive', 'propasat do všech' %>
      </fieldset>
    </div>
    <div class="w475 f-left">
      <h2><%= @company.title %></h2>
      <%= raw '<p>IČ:' + @company.ico + '</p>' if @company.ico.present? %>
      <%= raw '<p>DIČ:' + @company.dic + '</p>' if @company.dic.present? %>
      <% if @company.street.present? %>
        <p><%= @company.street %>
           <%= ' ' + @company.orientation_number %>
           <%= ' / ' if @company.orientation_number.present? and @company.house_number.present? %>
           <%= @company.house_number %></p>
      <% end %>
      <%= raw '<p>' + @company.city + '</p>' if @company.city.present?  %>
      <%= raw '<p>' + @company.postal_code + '</p>' if @company.postal_code.present?  %>
      <%= raw '<p>' + @company.country.title + '</p>' if @company.country.present? %>
      <br>
      <hr>
      <br>
      <%= raw '<p>Telefon: ' + @company.phone + '</p>' if @company.phone.present?  %>
      <%= raw '<p>Mobil: ' + @company.cell_phone + '</p>' if @company.cell_phone.present? %>
      <%= raw '<p>Fax: ' + @company.fax + '</p>' if @company.fax.present? %>
      <%= raw '<p>E-mail: ' + @company.email + '</p>' if @company.email.present? %>
      <%= raw '<p>WWW: ' + @company.www + '</p>' if @company.www.present? %>
      <%= raw '<p>Facebook: ' + @company.fb + '</p>' if @company.fb.present? %>
      <%= raw '<p>ICQ: ' + @company.icq + '</p>' if @company.icq.present? %>
      <%= raw '<p>Skype: ' + @company.skype + '</p>' if @company.skype.present? %>  
      <% @company.company_details.each do |detail| %>
        <%= raw '<p>' + detail.company_detail_type.title + ': ' + detail.detail_value + '</p>' if detail.detail_value.present? %>
      <% end %>
      <br>
      <hr>
      <br>
      <%= raw '<p>' + @company.description + '</p>' if @company.description.present? %>
    </div>
    <div class="cleaner"></div>
  <% end %>
</div>
<div class="cleaner"></div>
