<%= render partial: '/backoffice_core/companies/company_process_header' %>

  <%= form_for @company, url: company_structure_url, method: :put do |f| %>
    <%= f.submit 'Pokračovat', class: 'f-right' %>
    <br><br>

    <div class="w500 f-left ml15 mr15">
      <% if @company.errors.any? %>
        <p class="error">Opravte chybné zadání.</p>
      <% end %>
      
      <div class="cleaner"></div>
      <fieldset>
        <legend>Nastavení struktury společnosti</legend>
        <br>
        <%= label_tag 'companies[' + @company.id.to_s + '][company_type_id]', 'Definujte typ společnosti' %>:&nbsp;
        <%= select_tag 'companies[' + @company.id.to_s + '][company_type_id]', options_for_select(@company_types, @company.company_type_id), blank: true %>
        <br><br>
        <% if @error_fields.include? @company.id.to_s %>
          <div class="field_with_errors">
            <%= label_tag 'companies_' + @company.id.to_s + '_title', 'Název hlavní kanceláře:' %>
          </div>
          <%= error_message_on @company, :title%>
          <div class="field_with_errors">
            <%= text_field_tag 'companies[' + @company.id.to_s + '][title]', @company.title %>
          </div>
        <% else %>
          <%= label_tag 'companies_' + @company.id.to_s + '_title', 'Název hlavní kanceláře:' %>
          <%= text_field_tag 'companies[' + @company.id.to_s + '][title]', @company.title %>
        <% end %>
        <%= hidden_field_tag 'companies[' + @company.id.to_s + '][id]', @company.id.to_s %>
        <br><br>
        <hr>
        <div id="subcompanies">
          <%= render partial: '/backoffice_core/companies/children_company_input', collection: @company.children_companies %>
        </div>
      </fieldset>
    </div>
    <div class="w490 f-left">
      <ul id="company_structure_tree">
        <li class="company_block" id="node<%= @company.id %>">
          <div>
            <h3>Mateřská kancelář</h3>
            <p>Počet poboček: <span class="subcompanies_count"><%= @company.children_companies.count %></span>
                              (<span class="all_subcompanies_count"><%= @company.count_all_subcompanies %></span>)</p>
            <%= link_to 'Přidat pobočku', 
                        { controller: 'companies', 
                          action: 'create', 
                          parent_company_id: @company.id, 
                          remote: true }, 
                        { class: 'create_company_link' } %>
          </div>
          <% if @company.children_companies.any? %>
            <ul>
              <%= render partial: '/backoffice_core/companies/children_company_tree', collection: @company.children_companies %>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="cleaner"></div>
  <% end %>
</div>
<div class="cleaner"></div>
