<%= render partial: '/backoffice_core/companies/company_process_header' %>

  <%= form_tag company_users_path, method: :get do -%>
    <%= label_tag 'select_company_id', 'Popis společnosti: ', class: 'f-left ml15 mr5 mt10' %>
    <%= select_tag 'select_company_id', options_for_select(@companies_for_select, @company.id), onchange: 'this.form.submit();', class: 'f-left' %>
    <p class="f-left ml15 mt10">Celkem uživatelů: <%= @users_count %></p>
    <div class="cleaner"></div>
    <br><br>
  <% end -%>

    <%= form_tag(company_users_path, method: :put) do -%>
      <div class="ml15">
        <%= link_to 'zpět na Funkce společnosti', company_employee_posts_url, class: 'f-left' %>
        <%= submit_tag 'Uložit a pokračovat', class: 'f-right', name: 'next' %>
        <%= submit_tag 'Uložit', class: 'f-right', name: 'save' %>
        <%= hidden_field_tag 'selected_company_id', @company.id %>
        <div class="cleaner"></div>
      </div>
      <br><br>
      <div class="ml15 mr15 w500 f-left">
        <% @employee_posts.each do |post| %>
          <% post.users.where(company_id: @company.id).each do |u| %>
            <div id="uep_<%= @i.to_s %>">
              <%= label_tag 'users_' + @i.to_s + '_name', post.title + ':' %>
              &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][name]', u.name, class: 'w100', placeholder: 'Jméno' %>
              &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][surname]', u.surname, class: 'w100', placeholder: 'Příjmení' %>
              &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][email]', u.email, class: 'w150', placeholder: 'E-mail', disabled: true %>
              <%= hidden_field_tag 'users[' + @i.to_s + '][id]', u.id %>
              <% unless u.id == @current_user.id %>
                <a href="<%= user_path u.id %>" data-method="delete" data-confirm="opravdu?" class="dep_<%= @i.to_s %>">Odebrat</a>
              <% end %>
              <br><%= label_tag 'license', 'Licence:', class: 'ml50' %>
              &nbsp;<%= select_tag 'users[' + @i.to_s + '][license_id]', options_for_select(@licenses, u.license_id), class: 'w100' %>
            </div>
            <% @i = @i+1 %>
          <% end %>
          <div id="uep_<%= @i.to_s %>">
            <%= label_tag 'users_' + @i.to_s + '_name', post.title + ':' %>
            &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][name]', nil, class: 'w100', placeholder: 'Jméno' %>
            &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][surname]', nil, class: 'w100', placeholder: 'Příjmení' %>
            &nbsp;<%= text_field_tag 'users[' + @i.to_s + '][email]', nil, class: 'w150', placeholder: 'E-mail' %>
            <%= hidden_field_tag 'users[' + @i.to_s + '][employee_post_id]', post.id %>
            <br><%= label_tag 'license', 'Licence:', class: 'ml50' %>
            &nbsp;<%= select_tag 'users[' + @i.to_s + '][license_id]', options_for_select(@licenses), class: 'w100' %>
          </div>
          <a href="javascript:add_company_user(<%= post.id %>, '<%= post.title %>', '<%= options_for_select(@licenses).gsub(/['"\\\x0]/,'\\\\\0') %>');" class="f-right aep_<%= post.id %>">Přidat</a>
          <hr class="cleaner mt10"><br>
          <% @i = @i+1 %>
        <% end %>
        <%= hidden_field_tag 'users_count', @employee_posts.count, id: 'users_count' %>
      </div>
    <% end -%>
  <div class="f-left w490">
    <ul id="company_structure_tree">
      <li class="company_block" id="node<%= @company.id %>">
        <div>
          <h3>Mateřská kancelář</h3>
          <p>Uživatelů: <%= @top_company.users.count %></p>
          <p>Licencí: <%= @top_company.count_paid_users_licenses %></p>
        </div>
        <% if @company.top_parent_company.children_companies.any? %>
          <ul>
            <%= render partial: '/backoffice_core/companies/company_users_tree', collection: @top_company.children_companies %>
          </ul>
        <% end %>
      </il>   
  </div>
  <div class="cleaner"></div>
</div>
<div class="cleaner"></div>
