<%= render partial: '/backoffice_core/companies/company_process_header' %>

  <div class="ml15">
    <%= link_to 'zpět na Uživatele společnosti', company_users_url, class: 'f-left' %>
    <div class="cleaner"></div>

    <div class="f-left w250">
      <h3>Vaše nastavení společnosti:</h3>
      <p>Máte celkem: <strong><%= @company.count_all_subcompanies + 1 %></strong> poboček</p>
      <p>Z toho přímých: <strong><%= @company.children_companies.count %></strong></p>
      <p>a nepřímých: <strong><%= @company.count_indirect_subcompanies %></strong></p>
      <% @users_posts.each do |post, users_count| %>
        <p><%= post %>: <strong><%= users_count %></strong></p>
      <% end %>
    </div>
    <div class="f-left w755">
      <h3 class="mb-18">Přehled:</h3>
      <table class="w755">
        <tr>
          <th></th>
          <th><%= @company.primary_post.title %></th>
          <th>Uživatelů</th>
          <% @paid_licenses.each do |l| %>
            <th><%= l.title %></th>
          <% end %>
          <th>Cena</th>
        </tr>
        <% @company.tree.one_level_array.each do |company| %>
          <tr>
            <td><%= company.title %></td>
            <td class="t-center"><%= company.primary_post.users.where(company_id: company).first.whole_name if company.primary_post.users.where(company_id: company).any? %></td>
            <td class="t-center"><%= company.users.count %></td>
            <% @paid_licenses.each do |l| %>
              <td class="t-center"><%= company.count_company_licenses(l) %></td>
            <% end %>
            <td class="t-right"><%= company.bill_for_all_company_licenses %> Kč</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="cleaner"></div>
    <h3>Uživatelé</h3>
    <%= form_tag(company_finish_url, method: :put) do -%>
      <%= submit_tag 'Uložit', class: 'f-right' %>
      <div class="cleaner"></div>
      <table>
        <tr>
          <th></th>
          <th>Ev. č.</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Pozice</th>
          <th>Pobočka</th>
          <th>Licence</th>
          <th></th>
        </tr>
        <% @company.whole_company_users.each_with_index do |user, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= user.evidence_number %></td>
            <td><%= user.name %></td>
            <td><%= user.surname %></td>
            <td><%= select_tag 'users[' + user.id.to_s + '][employee_post_id]', options_for_select(@ep_options, user.employee_post_id) %></td>
            <td><%= select_tag 'users[' + user.id.to_s + '][company_id]', options_for_select(@company_options, user.company_id) %></td>
            <td><%= select_tag 'users[' + user.id.to_s + '][license_id]', options_for_select(@license_options, user.license_id) %></td>
            <td><%= link_to 'Smazat', user_path(user.id), method: :delete %></td>
          </tr>
        <% end %>
      </table>
    <% end -%>
  </div>
</div>
<div class="cleaner"></div>
