<%= render partial: '/backoffice_core/companies/company_process_header' %>

  <div class="ml15 mr15">
    <h2>Pojmenujte funkce ve vaší společnosti</h2>
    <%= form_tag(company_employee_posts_url, method: :put) do -%>
      <%= link_to 'zpět na Popis společnosti', company_details_url, class: 'f-left' %>
      <%= submit_tag 'Pokračovat', class: 'f-right' %>
      <div class="cleaner"></div>

      <fieldset class="w295 employee_posts_list">
        <% if @employee_posts.blank? %>
          <% (1..7).each do |n| %>
            <%= label_tag 'employee_posts[' + n.to_s + '][title]', n.to_s + '. -' %>
            <%= text_field_tag 'employee_posts[' + n.to_s + '][title]' %>
            <br><br>
          <% end %>
        <% else %>
          <% @employee_posts.each_with_index do |ep, n| %>
            <%= label_tag 'employee_posts[' + ep[1].to_s + '][title]', (n+1).to_s + '. -' %>
            <%= text_field_tag 'employee_posts[' + ep[1].to_s + '][title]', ep[0] %>
            <a href="<%= employee_post_url ep[1] %>" data-method="delete" data-confirm="opravdu?">Smaž</a>
            <br><br>
          <% end %>
        <% end %>
        <a href="javascript:add_employee_post(<%= @employee_posts.count + 1 %>)" class="t-right add_employee_post">Přidat další</a>
      </fieldset>
    <% end -%>
  </div>
</div>
<div class="cleaner"></div>
