<% if @new_company.present? %>
  function appendToTree(nodeId, companyId) {
    var parentNode = "#node" + nodeId;
    var node = "#node" + companyId;
    var nodeTitle = "node" + companyId;
    
    if($(parentNode + " ul").length == 0){
      $(parentNode).append("<ul></ul>");
    }  
    $(parentNode + " > ul").append("<li class=\"company_block\" id=\"" + nodeTitle + "\"></li>");
    $(node).append("<div></div>");
    $(node + " div")
      .append("<h3>Zadejte název</h3>")
      .append("<p>Počet poboček: <span class=\"subcompanies_count\">0</span>(<span class=\"all_subcompanies_count\">0</span>)</p>")
      .append("<%= escape_javascript(link_to 'Přidat pobočku',
                                             { controller: 'companies', 
                                               action: 'create', 
                                               parent_company_id: @new_company.id, 
                                               remote: true }, 
                                             { class: 'create_company_link' } ) %>");
  }
  
  function addInput(nodeId, companyId, deleteUrl) {
    var parentNode = "#subcompanies div.input" + nodeId;
    var selector;
    
    if($(parentNode).length == 0) {
      selector = "#subcompanies";
    }
    else {
      selector = parentNode;
    }
    
    $(selector).append("<div class=\"ml30 input" + companyId + "\"></div>");
    $(selector + " div.input" + companyId)
      .append("<label for=\"companies_" + companyId + "_title\">Zadejte název pobočky</label>: ")
      .append("<input id=\"companies_" + companyId + "_title\" type=\"text\" name=\"companies[" + companyId + "][title]\" onkeyup=\"javascript:forwardTitleToTreeNode(" + companyId + ");\">")
      .append("&nbsp;<a href=\"" + deleteUrl + "\" data-method=\"delete\" data-remote=\"true\" rel=\"nofollow\">Smazat</a>")
      .append("<input id=\"companies_" + companyId + "_id\" type=\"hidden\" name=\"companies[" + companyId + "][id]\" value=\"" + companyId + "\">");
  }
  
  function countSubcompanies(node, level) {
    var selectorRegExp = "^#node";
    var selectorSub = node + " > div > p > .subcompanies_count";
    var selectorAllSub = node + " > div > p > .all_subcompanies_count";    
    var subcompaniesCount = parseInt($(selectorSub).text()) + 1;
    var allSubcompaniesCount = parseInt($(selectorAllSub).text()) + 1;
    
    // change count
    if(level == 0) {
      $(selectorSub).text(subcompaniesCount);
    }
    if(level < 2) {
      $(selectorAllSub).text(allSubcompaniesCount);
    }    
    level += 1;
    
    // prepare recursion to next level 
    var parents = $(node).parents("*");
    
    for(var key in parents) {
      var nodeId = "#" + parents[key].id
      
      if(nodeId.match(selectorRegExp)) {
        countSubcompanies(nodeId, level);
      }
    }
  }
  
  var nodeId = <%= escape_javascript(@new_company.parent_company_id.to_s) %>;
  var companyId = <%= escape_javascript(@new_company.id.to_s) %>;
  var deleteUrl = "<%= escape_javascript(company_path @new_company) %>";

  appendToTree(nodeId, companyId);
  addInput(nodeId, companyId, deleteUrl);
  countSubcompanies("#node" + nodeId, 0);
<% else %>
  $("#subcompanies").prepend("<p>Pobočku se nepodařilo vytvořit. Aktualizujte stránku a zkuste to znovu.</p>");
<% end %>
