function discountSubcompanies(node, level) {
  var selectorRegExp = "^#node";
  var selectorSub = node + " > div > p > .subcompanies_count";
  var selectorAllSub = node + " > div > p > .all_subcompanies_count";    
  var subcompaniesCount = parseInt($(selectorSub).text()) - 1;
  var allSubcompaniesCount = parseInt($(selectorAllSub).text()) - 1;
  
  // change count
  if(level == 0) {
    $(selectorSub).text(subcompaniesCount);
  }
  if(level < 2) {
    $(selectorAllSub).text(allSubcompaniesCount);
  }    
  level += 1;
  
  // prepare recursion to next level 
  var parents = $(node).parents("*");
  
  for(var key in parents) {
    var nodeId = "#" + parents[key].id
    
    if(nodeId.match(selectorRegExp)) {
      discountSubcompanies(nodeId, level);
    }
  }
}

var companyId = <%= escape_javascript @deleted_company_id.to_s %>;
var parentCompanyId = <%= escape_javascript @parent_company_id.to_s %>;

discountSubcompanies("#node" + parentCompanyId, 0);
$("#subcompanies div.input" + companyId).remove();
$("#node" + companyId).remove();
