Mateřská společnost: <%= @company %><br>
Má dceřinné společnosti? <%= 'ano' if @company.children_companies.any? %><br>
<% @company.children_companies.each do |c| %>
  přímá dceřinná: <%= c.title %><br>
<% end %>
<br>
Maternelle company: <%= @company.top_parent_company %>
<br><br>
Is <%= @c_child.parent_company_id.to_s %> child of <%= @c_parent %>? <%= @resultat %>
<br><br>
Company structure hash: <%= @company_hash %>
<br><br>
All companies IDs: <%= @current_user.company.tree.ids %>
<br><br>
Companies list:<br>
<%= @company_list %>
