<%= form_for @contact_email, method: :post, remote: true, html: { onsubmit: raw("javascript:pleaseWait('#add_contact_email_submit');deleteFormErrors('#new_contact_email');") } do |ff| %>
  <%= hidden_field_tag 'contact_email[user_id]', @current_user.id %>
  <%= ff.label :email, 'Email:', id: 'contact_email_email' %>
  <%= ff.text_field :email %>
  &nbsp;<%= ff.select :email_usage, options_for_select(@email_usages), { blank: true }, class: 'w100' %>
  <br>
  <%= ff.label :note, 'Poznámka:' %>
  <%= ff.text_area :note, class: 'w595 h100' %>
  <br>
  <%= ff.check_box :primary_email %>&nbsp;<%= ff.label :primary_email, 'Primární email' %>
  <%= ff.submit 'Uložit', class: 'f-right', id: 'add_contact_email_submit' %>
  <div class="cleaner"></div>
<% end %>
