<% if @contact_email.errors.any? %>
  <% if @contact_email.errors[:phone].any? %>
			$('#contact_email_email').before(
        '<p class="error"><%= escape_javascript(raw @contact_email.errors[:email][0]) %></p>'
      );
	<% end %>
<% else %>
  $('#add_contact_emails').prepend(
      '<p class="success"><%= escape_javascript('Email uložen') %></p>'
    ).delay(1000).fadeIn(1, function() {
       $('#add_contact_emails p.success').fadeOut(500, function() {
         $('#add_contact_emails').css('display', 'none');
         $("#modal_overlay").css("display", "none");
       });
     });
  $('#add_contact_emails_select_box').prepend('<option value="<%= escape_javascript(raw @contact_email.id) %>"><%= escape_javascript(raw @contact_email.email) %></option>')
  $('#add_contact_emails form')[0].reset();
  $('#user_log').prepend('<option><%= escape_javascript(raw @current_user.logs.all.last.to_s) %></option>');
  
  $('#add_contac_emails').click(function(event) { // tato vetev pravdepodobne nema opodstatneni
    $('body').one('click',function() {
      $('#add_contact_emails form')[0].reset();
    });
  });
<% end %>
$('#add_contact_email_submit').html('<input class="normal-button" type="submit" value="Uložit">');

