<h2>Zapomenuté heslo</h2>

<% flash.each do |key, value| -%>
  <div id='flash_<%= key %>'><p><%=h value %></p></div>
<% end %>

<%= form_for(@user, url: password_path, method: :post) do |form| %>
  <%= form.hidden_field :token, value: @user.renew_password_token %>
  
  <%= form.label :password, 'Nové heslo:' %>
  <% if defined? @errors and @errors.size > 0 %>
    <%= @errors[:password] %>
    <%= form.password_field :password, class: 'error' %>
  <% else %>
    <%= form.password_field :password %>
  <% end %>
  <br><br>
  
  <%= form.label :password_confirmation, 'Nové heslo znovu:' %>
  <%= form.password_field :password_confirmation %>
  <br><br>
  
  <%= form.submit 'Uložit nové heslo' %>
<% end %>
