<h2>Nastavit nové heslo</h2>

<% flash.each do |key, value| -%>
  <div id='flash_<%= key %>'><p><%=h value %></p></div>
<% end %>

<%= form_tag(password_path, method: :put) do -%>
  <%= label_tag 'email', 'Registrovaný email:' %>
  <% if defined? @errors and @errors.size > 0 %>
    <%= @errors[:email] %>
    <%= email_field_tag 'email', nil, class: 'error' %>
  <% else %>
    <%= email_field_tag 'email', nil %>
  <% end %>
  <br><br>
  
  <%= submit_tag 'Obnovit heslo' %>
<% end %>
